PORT=8080
HOST=0.0.0.0
TEST_SERVER_NAME=Ping Pong Intranet
SQLITE_PATH=./data/ping-pong.sqlite
HISTORY_RETENTION_DAYS=30
DEFAULT_TEST_DURATION_SECONDS=15
PARALLEL_CONNECTIONS=4
MAX_TEST_BYTES=67108864
TRUST_PROXY=false
ALLOW_LOCAL_SELF_TEST=false
ACTIVE_TEST_WARNING_THRESHOLD=2
MAX_ACTIVE_TESTS=4
ADMIN_PASSWORD=
ADMIN_SESSION_TTL_HOURS=8
